.about {
  width: 100%;
  padding: 5rem 2rem;
  background-color: var(--background-color-dark);
}

/* Mobile first layout */

.about__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

/* Left column */

.about__content {
  width: 100%; /* added */
  display: flex;
  flex-direction: column;
}

.about__badge {
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  width: fit-content;
  color: white;
}

.about__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

/* optional but helps mobile spacing */
.about__text {
  font-size: 1rem;
  color: #fff7f7;
  margin-bottom: 2rem;
  max-width: 480px;
}

/* Feature list */

.about__list {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.about__list_item {
  margin-bottom: 1rem;
  padding-left: 2rem;
  position: relative;
  color: white;
}

.about__list_item::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #2f80ed;
}

/* Button */

.about__button {
  padding: 0.8rem 2rem;
  border-radius: 999px;
  border: none;
  background-color: var(--button-blue);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

/* Right column images mobile first */

.about__images {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
}

.about__image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 1.5rem;
  object-fit: cover;
  box-shadow:
    rgba(255, 255, 255, 0.6) 5px 5px 20px -7px,
    rgb(255, 255, 255, 0.5) 0px 1px 3px -1px;
}

/* Desktop  layout */

@media (min-width: 900px) {
  .about__container {
    flex-direction: row;
    align-items: center;
  }

  .about__content {
    flex: 1;
  }

  .about__images {
    flex: 1;
    flex-direction: row;
    max-width: 500px;
  }

  .about__image {
    aspect-ratio: 4 / 5;
    height: 350px;
  }
}

@media (min-width: 2100px) {
  .about__image {
    height: 500px;
  }
}
