.hero__container {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

/* This is the key change */
.hero__background {
  width: 98%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url("../../assets/2PeopleHoover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding-bottom: 3rem;
  margin-bottom: 0.9rem;
  box-shadow:
    rgba(16, 16, 33, 0.7) 10px 20px 20px -10px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero__text {
  margin-bottom: 1rem;
  margin-left: 20px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  text-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero__span {
  color: var(--span-color);
}

.navbar_cta {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(180deg, #3b82f6, #2563eb);
  color: white;
  font-size: 14px;
  cursor: pointer;
}
