.hero__container {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

/* This is the key change */
.hero__background {
  width: 98%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: url("../../assets/3PeopleClean.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding-bottom: 3rem;
  margin-bottom: 0.9rem;
  box-shadow:
    rgba(16, 16, 33, 0.7) 10px 20px 20px -10px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* .hero__text {
} */

.hero__content {
  max-width: 520px;
  margin-left: 60px;
  color: white;
  margin-bottom: 1rem;
  margin-left: 1.8rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

.hero__span {
  color: var(--span-color);
}

.hero__title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.hero__title,
.hero__subtitle {
  text-shadow:
    0 1px 90px rgb(0, 0, 0, 0.9),
    0 1px 24px rgba(119, 119, 119, 0.1);
}

.hero__subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 1;
  line-height: 1.9rem;
  font-weight: 400;
  color: var(--text-color-gray);
}

.hero__actions {
  display: flex;
  gap: 1rem;
}

.hero__primary {
  padding: 12px 26px;
  border-radius: 999px;
  border: none;
  background: var(--gradient-primary);
  color: var(--text-color-white);
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.hero__secondary {
  padding: 12px 0;
  border: none;
  background: transparent;
  color: var(--text-color-white);
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.hero__secondary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 2px;
  background-color: white;
}

.hero__secondary:hover::after {
  opacity: 0.8;
}
