@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans+JP:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zalando+Sans:ital,wdth,wght@0,87,200..900;1,87,200..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Zalando", "Noto Sans JP", "Google Sans", "Ubuntu", sans-serif;
}

:root {
  --span-color: #ffc73b;
  --secondary-color: #1e1e1e;
  --accent-color: #ff6f61;
  --button-blue: #287cdb;

  --background-color: linear-gradient(180deg, #f7f8fa, #eef1f6);

  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --text-color-gray: #eeeeee;

  --gradient-primary: linear-gradient(180deg, #3b82f6, #2563eb);
}
